<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ducaplast</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'styles/bg-grid.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <!-- fa fa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
</head>
<body class="bg-grid">
    <header class="p-3 bg-dark bg-gradient text-white">
      {% if user.is_authenticated %}
        <section class="container">
            <section class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none fs-3 fw-bold font-monospace">DUCAPLAST</a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                      {% if user.tipo_usuario_id == 0 or user.tipo_usuario_id == 1 %}
                      <li class=""><a href="/catalogo" class="nav-link px-2 text-white">Catálogo <i class="fa fa-list" aria-hidden="true"></i></a></li>
                      <li class=""><a href="/cart" class="nav-link px-2 text-white">Carrito <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                      <li class=""><a href="/orders" class="nav-link px-2 text-white">Pedidos <i class="fa fa-archive"></i></a></li>
                      <li class=""><a href="/orders/historial" class="nav-link px-2 text-white">Facturas <i class="fa fa-check-circle"></i></a></li>
                      <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Administración
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li class=""><a href="/registro" class="dropdown-item">Registrar <i class="fa fa-user-plus"></i></a></li>
                          <li class=""><a href="/users" class="dropdown-item">Usuarios <i class="fa fa-user"></i></a></li>
                          <li class=""><a href="/clientes" class="dropdown-item">Clientes <i class="fa fa-user-md"></i></a></li>
                          <li class=""><a href="/productos" class="dropdown-item">Productos <i class="fa fa-product-hunt"></i></a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li class=""><a href="/charts" class="dropdown-item">Estadísticas <i class="fa fa-database"></i></a></li>
                        </ul>
                      </li>
                      {% elif user.tipo_usuario_id == 2 %}
                      <li class=""><a href="/catalogo" class="nav-link px-2 text-white">Catálogo  <i class="fa fa-list" aria-hidden="true"></i></a></li>
                      <li class=""><a href="/cart" class="nav-link px-2 text-white">Carrito <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                      <li class=""><a href="/orders" class="nav-link px-2 text-white">Historial de ventas <i class="fa fa-history" aria-hidden="true"></i></a></li>
                      {% elif user.tipo_usuario_id == 3 %}
                      <li class=""><a href="/orders" class="nav-link px-2 text-white">Pedidos <i class="fa fa-archive"></i></a></li>
                      <li class=""><a href="/orders/historial" class="nav-link px-2 text-white">Historial de despachos <i class="fa fa-history" aria-hidden="true"></i></a></li>
                      {% elif user.tipo_usuario_id == 4 %}
                      <li class=""><a href="/orders" class="nav-link px-2 text-white">Pedidos <i class="fa fa-archive"></i></a></li>
                      <li class=""><a href="/orders/historial" class="nav-link px-2 text-white">Historial de facturaciones <i class="fa fa-history" aria-hidden="true"></i></a></li>
                      {% elif user.tipo_usuario_id == 5 %}
                      <li class=""><a href="/orders" class="nav-link px-2 text-white">Pedidos <i class="fa fa-archive"></i></a></li>
                      <li class=""><a href="/orders/historial" class="nav-link px-2 text-white">Historial de asignaciones <i class="fa fa-history" aria-hidden="true"></i></a></li>
                      {% endif %}
                </ul>
                <article class="text-end">
                    <a href="/editar_cuenta"><button class="btn btn-outline-light me-2">Editar cuenta</button></a>
                    <a href="/logout"><button class="btn btn-warning">Cerrar sesion</button></a>
                </article>
            </section>
        </section>
        {% else %}
            <p class="text-white">No se ha autenticado o no se pudo verificar la integridad del usuario.</p>
        {% endif %}
    </header>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="bg-body-tertiary text-center text-lg-start bg-dark text-white">
        <section class="container p-4">
          <article class="row">
            <article class="col-lg-6 col-md-12 mb-4 mb-md-0"> 
              <h5 class="text-uppercase">DUCAPLAST</h5>   
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                voluptatem veniam, est atque cumque eum delectus sint!
              </p>
            </article>
            <article class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">HORARIOS...</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                voluptatem veniam, est atque cumque eum delectus sint!
              </p>
            </article>
          </article>
        </section>
        <section class="text-center p-3 bg" style="background-color: rgba(0, 0, 0, 0.05);">
          <p>© 2024 Copyright</p>
        </section>
    </footer>
    
</body>
</html>