{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- fa fa -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'styles/cart.css' %}">

<main>
    <section class="h-100 gradient-custom">
        <article class="container py-5">
          <article class="row d-flex justify-content-center my-4">
            <section class="col-md-8">
              <article class="card mb-4 bg-gray text-light">
                <section class="card-header py-3">
                  <h5 class="mb-0">Carro - 1 item(s)</h5>
                </section>
                <section class="card-body">
                    {% if productos %}
                        {% for key, p in productos.items %}
                        <!-- item -->
                        <article class="row ">
                            <section class="col-lg-6 col-md-6 mb-4 mb-lg-0 text-center">
                            <!-- Data -->
                                <p><strong>{{p.descripcion}}</strong></p>
                                <p>Referencia de fabrica: {{p.referencia_fabrica}}</p>
                                <p><strong>Precio por unidad: ${{p.precio}}</strong></p>

                                <button type="button" class="btn btn-primary btn-sm me-1 mb-2 " data-mdb-toggle="tooltip" title="Eliminar item">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <small>Cod. {{key}}</small>

                                <!-- Data -->
                            </section>

                            <section class="col-lg-6 col-md-6 mb-4 mb-lg-0 text-center">
                                <label class="form-label" for="form1"><strong>Cantidad</strong></label>
                                <article class="d-flex mb-4">
                                    <button class="btn btn-primary px-3 me-2 h-50" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <input id="form1" min="0" name="quantity" value="{{p.cantidad}}" type="number" class="form-control" />
                                    <button class="btn btn-primary px-3 ms-2 h-50" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </article>
                                <p class=""><strong>Total artículo: $ {{p.total_producto}}</strong></p>
                                <span class="badge bg-danger mt-0">Unidades restantes: 5</span>
                            </section>
                        </article>
                        <!-- enditem -->
                        <hr class="my-4" />
                        {% endfor %}
                    {% else %}

                    <section class="card-body">
                        <h4>No tiene productos seleccionados.</h4>
                    </section>
                    {% endif %}
                </section>
              </article>
            </section>

            <!-- Resumen -->
            {% if productos %}
            <section class="col-md-4">
              <article class="card mb-4">
                <section class="card-header py-3">
                  <h5 class="mb-0">Resumen</h5>
                </section>
                <section class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                      Productos
                      <span>{{total_productos}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                      IVA (19%)
                      <span>$19.000</span>
                    </li>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                      <section>
                        <strong>Total</strong>
                        <strong>
                          <p class="mb-0">(IVA incluído)</p>
                        </strong>
                      </section>
                      <span><strong>$119.000</strong></span>
                    </li>
                  </ul>
                  <button type="button" class="btn btn-primary btn-lg btn-block">Confirmar venta</button>
                </section>
              </article>
            </section>
            {% endif %}
          </article>
        </article>
      </section>
    
</main>
{% endblock %}