{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- fa fa -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'styles/cart.css' %}">
<link rel="stylesheet" href="{% static 'styles/common.css' %}">
<link rel="stylesheet" href="{% static 'styles/ToastNotify.css' %}">
<script src="{% static 'javascript/ToastNotify.js' %}" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'javascript/cart_handler.js' %}" defer></script>
<script src="{% static 'javascript/cart.js' %}" defer></script>

<main>
    <section class="h-100 gradient-custom">
        <article class="container py-5">
          <article class="row d-flex justify-content-center my-4">
            <section class="col-md-8">
              <article class="card mb-4 bg-gray text-light">
                <section class="card-header py-3 d-flex justify-content-between">
                  <h5 class="mb-0" id="productos_cantidad">Carro - {{cantidad_productos}} item(s)</h5>
                  <form action="" method="POST">
                    {% csrf_token %}
                    <button type="button" class="btn btn-warning btn-sm cart-handler" data-producto-id="0" data-carthandler-url="{% url 'carthandler' %}" data-action="3" title="Limpiar completamente el carrito">Eliminar todo</button>
                  </form>
                </section>
                <section class="card-body">
                    {% if productos %}
                        {% for key, p in productos.items %}
                        <!-- item -->
                        <article class="row" id="p-{{ key }}">
                            <section class="col-lg-6 col-md-6 mb-4 mb-lg-0 text-center">
                            <!-- Data -->
                                <p><strong>{{p.descripcion}}</strong></p>
                                <p>Referencia de fabrica: {{p.referencia_fabrica}}</p>
                                <p><strong>Precio por unidad: $<span>{{p.precio_str}}</span></strong></p>
                                <small >Cod. <span class="code">{{key}}</span></small>

                                <form action="" >
                                  {% csrf_token %}
                                  <button type="button" class="btn btn-primary btn-sm me-1 mb-2 cart-handler" data-producto-id="{{key}}" data-carthandler-url="{% url 'carthandler' %}" data-action="2" title="Eliminar item">
                                      <i class="fa fa-trash"></i>
                                  </button>
                                </form>
                            </section>

                            <section class="col-lg-6 col-md-6 mb-4 mb-lg-0 text-center">
                                <label class="form-label" for="form1"><strong>Cantidad</strong></label>
                                <section class="d-flex mb-4">
                                    <button class="btn btn-primary px-3 me-2 h-50 stepDown">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <input min="1" name="quantity" value="{{p.cantidad}}" type="number" class="form-control product_quantity" />
                                    <button class="btn btn-primary px-3 ms-2 h-50 stepUp">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </section>
                                <p class=""><strong>Total artículo: $<span>{{p.total_producto_str}}</span> </strong></p>
                                <span class="badge bg-danger mt-0">Unidades restantes: 5</span>
                            </section>
                            <hr class="my-4" />
                        </article>
                        <!-- enditem -->
                        {% endfor %}
                    {% else %}

                    <section class="card-body">
                        <h4>No tiene productos seleccionados.</h4>
                    </section>
                    {% endif %}
                </section>
              </article>
            </section>

            {% if productos %}
            <section class="col-md-4 second-details">
                <!-- Detalles del pedido -->
                <article class="card mb-4 text-center" >
                  <section class="card-header py-3">
                    <h5 class="mb-0">Detalles del cliente</h5>
                  </section>

                  <section class="card-body detalles" id="selectClient">
                    <article class="input-group mb-2">
                      <span class="badge bg-primary">{{form.cliente.label_tag}}</span>
                      {{form.cliente}}
                    </article>
                    {{form.nota}}
                    <hr>
                    <caption>¿No existe el cliente?</caption>
                    <button class="btn btn-primary" id="openCreateClient">Crear cliente</button>
                  </section>

                  <section class="card-body d-none toggleClient" id="createClient">
                    <form action="" method="POST">
                      {% csrf_token %}
                      <article class="input-group mb-2">
                        <span class="badge bg-primary ">Nombre del cliente</span>
                        <input type="text" class="form-control" name="nombre_cli" id="" placeholder="Pedro Gomez (ejemplo)">
                      </article>
                      <article class="input-group mb-2">
                        <span class="badge bg-primary ">Dirección del cliente</span>
                        <input type="text" class="form-control" name="direccion_cli" id="" placeholder="Calle 56a #23-12">
                      </article>
                      <input type="hidden" name="crear_cliente">
                      <button type="submit" class="btn btn-primary">Registrar cliente</button>
                    </form>
                    
                    <hr>
                    <caption>¿Ya existe el cliente?</caption>
                    <button class="btn btn-primary" id="openSelectClient">Seleccionar cliente</button>
                  </section>


                </article>

                <!-- Resumen -->
                <article class="card mb-4">
                  <section class="card-header py-3">
                    <h5 class="mb-0">Resumen de venta</h5>
                  </section>
                  <section class="card-body">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                        Productos
                        <span>$<span id="total_productos">{{total_productos}}</span></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        IVA (19%)
                        <span>$<span id="iva">{{iva}}</span>
                        </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                        <section>
                          <strong>Total</strong>
                          <strong>
                            <p class="mb-0">(IVA incluído)</p>
                          </strong>
                        </section>
                        <strong>$<span id="total_venta">{{total_venta}}</span></strong>
                      </li>
                    </ul>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Launch demo modal
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </article>
                
                
            </section>
            {% endif %}
          </article>
        </article>
      </section>
</main>
{% endblock %}