{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/catalogo.css' %}">
<link rel="stylesheet" href="{% static 'styles/ToastNotify.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'javascript/ToastNotify.js' %}" defer></script>
<script src="{% static 'javascript/catalogo.js' %}" defer></script>
<script src="{% static 'javascript/cart_handler_catalogo.js' %}" defer></script>
<main>
    <section id="filterContainer" class="m-auto card p-4 col-md-6 col-lg-4 rounded-lg base my-5">
        <form action="" method="GET" class="text-center filter-form">
            <h2 class="text-primary font-weight-bold">Filtrar productos</h2>
            <article class="input-group mb-3">
                <span class="badge bg-info">{{form.nombre.label_tag}}</span>
                {{form.nombre}}
            </article>
            <article class="input-group mb-3">
                <span class="badge bg-info">{{form.id.label_tag}}</span>
                {{form.id}}
            </article>
            <article class="input-group mb-3">
                <span class="badge bg-info">{{form.ordenar.label_tag}}</span>
                {{form.ordenar}}
            </article>
            <article class=" mb-3">
                <span class="badge bg-info mr-2">{{form.disponibles.label_tag}}</span>
                {{form.disponibles}}
            </article>
            <button type="submit" class="btn btn-primary col-md-5">Filtrar <i class="fa fa-arrow-right"></i></button>
        </form>
    </section>
    <section class="bg-light bg-gradient">
        <section class="container">
            <section class="row">
                <h1 class="text-center text-primary">Productos</h1>
                {% if productos %}
                {% for p in productos %}
                <article class="col-md-4 producto">
                    <form action="" method="POST">
                        <article class="card my-2 box-shadow">
                            <article class="bg-dark p-1 text-center">
                                <h3 class="text-white center-block">{{p.descripcion}}</h3>
                            </article>
                            <article class="card-body bg-dark text-light">
                                <h3 class="text-bold">Referencia de fábrica:</h3>
                                <caption class="card-text">{{p.referencia_fabrica}}</caption>
                                <article class="d-flex justify-content-between align-items-start mt-2">
                                    <section class="">
                                        <form action="" class="product_inputs product-form">
                                            {% csrf_token %}
                                            <span class="badge mb-2 {% if p.id|stringformat:'s' in carrito %} btn-warning {% else %} btn-success {% endif %}">{% if p.id|stringformat:'s' in carrito %} Producto ya añadido {% else %} Cantidad {% endif %}</span>
                                            <input type="number" name="" id="" min="1" value="1" class="cantidad">
                                            <button class="add btn btn-sm {% if p.id|stringformat:'s' in carrito %} btn-warning {% else %} btn-success {% endif %} my-2 cart-handler" data-producto-id="{{ p.id }}" data-carthandler-url="{% url 'carthandler' %}" data-action="1">{% if p.id|stringformat:'s' in carrito %} Actualizar cantidad {% else %} Agregar al carrito {% endif %}</button>
                                            {% if p.id|stringformat:'s' in carrito %}
                                                <button type="button" class="eliminate btn btn-primary btn-sm  cart-handler" data-producto-id="{{p.id}}" data-carthandler-url="{% url 'carthandler' %}" data-action="2" title="Eliminar item" style="display: inline;">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            {% else %}
                                                <button type="button" class="eliminate btn btn-primary btn-sm  cart-handler" data-producto-id="{{p.id}}" data-carthandler-url="{% url 'carthandler' %}" data-action="2" title="Eliminar item" style="display: none;">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            {% endif %}

                                        </form>
                                    </section>
                                    <small>
                                        ${{p.precio}} <br>
                                        Cod. {{p.id}} <br>
                                        <span class="badge {% if p.cantidad == 0 %} bg-danger {% elif p.cantidad >= 1 and p.cantidad <= 10 %} bg-warning {% elif p.cantidad > 10 %} bg-success {% else %} bg-secondary {% endif %}">Cantidad disponible: {{p.cantidad}}</span>
                                    </small>
                                </article>
                            </article>
                        </article>
                    </form>
                </article>
                {% endfor %}
                {% else %}
                <p class="text-center fw-bold">No hay productos disponibles</p>
                {% endif %}
            </section>

            <!-- Paginacion -->
            <article class="pagination justify-content-center mt-4">
                <ul class="pagination">
                    {% if productos.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ productos.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item disabled">
                        <span class="page-link">Página {{ productos.number }} de {{ productos.paginator.num_pages }}</span>
                    </li>

                    {% for i in productos.paginator.page_range %}
                        {% if i >= productos.number|add:"-3" and i <= productos.number|add:"3" %}
                            <li class="page-item {% if productos.number == i %}active{% endif %}">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if productos.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ productos.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ productos.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </article>


        </section>
    </section>
</main>

{% endblock %}