{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js" defer></script>
<script src="{% static 'javascript/charts.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'styles/common.css' %}">
<link rel="stylesheet" href="{% static 'styles/charts.css' %}">
<main class="bg-primary bg-gradient text-white">
    <header class="text-center text-bold ">
        <h1 class="display-4 ">Dashboard</h1>
        <p class="lead">Gráficos interactivos del negocio.</p>
    </header>
    <section class="col-md-10 row m-auto gap-2">
        <article class="col-md-5 ">
            <article class="bg-light p-4 rounded-lg big-chart" id="chart1"></article>
        </article>
        <article class="col-md-6">
            <article class="bg-light p-4 rounded-lg big-chart" id="chart2"></article>
        </article>
        <article class="col-md-8">
            <article class="bg-light p-4 rounded-lg big-chart" id="chart3"></article>
        </article>
        <article class="col-md-8">
            <article class="bg-light p-4 rounded-lg big-chart" id="chart4"></article>
        </article>
        <article class="col-md-8">
            <article class="bg-light p-4 rounded-lg big-chart" id="chart5"></article>
        </article>
    </section>
</main>

{% endblock %}