{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js" defer></script>
<script src="{% static 'javascript/charts.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'styles/common.css' %}">
<main class="bg-primary bg-gradient text-white">
    <header class="text-center text-bold ">
        <h1 class="display-4 ">Dashboard</h1> <!-- Utilizamos la clase display-4 para hacer el h1 más grande -->
        <p class="lead">Gráficos interactivos del negocio.</p> <!-- Utilizamos la clase lead para resaltar la descripción -->
    </header>
    <section class="row">
        <article class="col-md-6 ">
            <article class="bg-light p-4" id="chart1" style="height: 400px;" ></article>
        </article>
    </section>
</main>

{% endblock %}