{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/mainHeigth.css' %}">
<link rel="stylesheet" href="{% static 'styles/ToastNotify.css' %}">
<script src="{% static 'javascript/ToastNotify.js' %}" defer></script>
<script src="{% static 'javascript/editar_cuenta.js' %}" defer></script>
<main class="d-flex justify-content-center align-items-center">
    <section class="card p-4">
        <form action="" method="POST" id="formAccount" class="card p-4">
            {% csrf_token %}
            <h2 class="text-primary text-bold text-center">Editar perfil</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge bg-danger mb-1">
                        <label for="nombre">Nombre</label>
                    </span>
                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese su nombre" value="{{user.first_name}}">
                </li>
                <li class="list-group-item">
                    <span class="badge bg-danger mb-1">
                        <label for="apellidos">Apellidos</label>
                    </span>
                    <input type="text" name="apellidos" id="apellidos" class="form-control" placeholder="Ingrese sus apellidos" value="{{user.last_name}}">
                </li>
                <li class="list-group-item">
                    <span class="badge bg-danger mb-1">
                        <label for="email">Correo electrónico</label>
                    </span>
                    <input type="text" name="email" id="email" class="form-control" placeholder="Ingrese su email" value="{{user.email}}">
                </li>
            </ul>
            <input type="hidden" name="acc_data">
            <input type="submit" value="Guardar cambios" class="btn btn-secondary mt-3">
            <span class="badge bg-danger mt-2" id="account_event">{{account_data_event}}</span>
        </form>
        <form action="" method="POST" id="formPass" class="card p-4 bg-danger">
            {% csrf_token %}
            <h2 class="text-center text-white">Zona de cuidado</h2>
            <span class="badge bg-danger">Cambiar contraseña<br>
            (Si actualiza la contraseña, se cerrará su sesión)</span>    
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge bg-danger mb-1">
                        <label for="oldPassword">Contraseña anterior</label>
                    </span>
                    <input type="password" name="oldPassword" class="form-control" id="oldPassword" placeholder="Contraseña anterior">
                </li>
                <li class="list-group-item">
                    <span class="badge bg-danger mb-1">
                        <label for="password">Contraseña nueva</label>
                    </span>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Contraseña nueva">
                </li>
                <li class="list-group-item">
                    <span class="badge bg-danger mb-1">
                        <label for="password1">Confirmar contraseña</label>
                    </span>
                    <input type="password" name="password1" class="form-control" id="password1" placeholder="Confirme contraseña nueva">
                </li>
            </ul>    
            <input type="hidden" name="pass_data">
            <input type="submit" value="Guardar contraseña" name="" class="btn btn-warning mt-3">
            <span class="badge bg-warning mt-2" id="pass_event">{{password_change_event}}</span>
        </form>
    </section>
</main>
{% endblock %}