<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ducaplast | Login</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/bg-grid.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <!-- fa fa-icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'javascript/home.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'styles/ToastNotify.css' %}">
    <script src="{% static 'javascript/ToastNotify.js' %}" defer></script>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
</head>
<body class="bg-grid">
    <section class="sectionZone">
        <form action="" method="POST" class="d-flex flex-column p-4 text-center gap-2" id="formInicio">
            {% csrf_token %}
            <img src="{% static 'global/logo.png' %}" alt="">
            {{form.documento}}
            {{form.password}}
            <input type="submit" value="Ingresar" class="btn btn-primary">
            <span class="badge bg-danger" id="spanEvento">{{error}}</span>
            <p class="text-primary mx-auto text-bold passhelper" id="passhelper">¿Olvidó la contraseña?</p>
        
          </form>
    </section>

    <!-- Footer -->
    <footer class="bg-body-tertiary text-center text-lg-start">
        <section class="container p-4">
          <article class="row">
            <article class="col-lg-6 col-md-12 mb-4 mb-md-0"> 
              <h5 class="text-uppercase">DUCAPLAST</h5>   
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                voluptatem veniam, est atque cumque eum delectus sint!
              </p>
            </article>
            <article class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">HORARIOS...</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                voluptatem veniam, est atque cumque eum delectus sint!
              </p>
            </article>
          </article>
        </section>
        <section class="text-center p-3 bg" style="background-color: rgba(0, 0, 0, 0.05);">
          <p>© 2024 Copyright</p>
        </section>
    </footer>
</body>
</html>