{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/common.css' %}">
<link rel="stylesheet" href="{% static 'styles/orders.css' %}">


<main class="h-100 gradient-custom">
    <section class="container py-5">
        <article class="row d-flex justify-content-center my-4">
            <article class="card mb-4 bg-gray text-light col-md-8">
                <header class="card-header">
                    <h5 class="mb-0" id="productos_cantidad">Historial de ventas</h5>
                    
                </header>
                <section class="card-body">
                    <article class="card" style="background-color: #414141;">
                        <header class="card-header bg-primary text-white">
                            Pedido #21
                        </header>
                        <div class="card-body">
                            <section class="row">
                                <div class="col">
                                    <span class="badge bg-danger">Recibido</span>
                                </div>
                                <div class="col text-end">
                                    <span class="badge bg-success">Hace 15 minutos</span>
                                </div>
                            </section>
                            <hr style="border-color: #fff;"> <!-- Ajuste del color de la línea horizontal -->
                            <section class="row">
                                <div class="col">
                                    <span class="badge bg-info">Vendido por: Nelson Diaz (Cod. Empleado: 14)</span>
                                </div>
                                <div class="col text-end">
                                    <span class="badge bg-info">Cod. Cliente: 12345</span>
                                </div>
                            </section>
                        </div>
                    </article>
                    
                </section>
                

            </article>
        </article>


    </section>
</main>

{% endblock %}