{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/common.css' %}">
<link rel="stylesheet" href="{% static 'styles/orders.css' %}">


<main class="h-100 gradient-custom">
    <section class="container py-5">
        <article class="row d-flex justify-content-center my-4">
            <article class="card mb-4 bg-gray text-light col-md-8">
                <header class="card-header">
                    <h5 class="mb-0" id="productos_cantidad">Historial de ventas</h5>
                    
                </header>
                <section class="card-body">
                    {% for p in pedidos %}
                    <!-- Pedido -->
                    <article class="card bg-gray">
                        <header class="card-header bg-primary text-white">
                            <h4>Pedido #{{p.id}}</h4>
                        </header>
                        <section class="card-body">
                            <section class="row">
                                <article class="col">
                                    <p>
                                        Estado:
                                        <span class="badge bg-danger">{{p.estado}}</span>
                                    </p>
                                </article>
                                <aside class="col text-center">
                                    <span class="badge bg-success">Hace 15 minutos - {{p.fecha}}</span> <br>
                                </aside>
                            </section>
                            
                            <section class="row">
                                <article class="col">
                                    <p>Vendido por: {{p.vendedor}} <br> (Cod. Empleado: {{p.vendedor__id}})</p>
                                </article>
                                <aside class="col text-center">
                                    <p>
                                        <strong>Cod. cliente:</strong> 1234 <br>
                                        <strong>Valor pedido:</strong> $23.123
                                    </p>
                                </aside>
                            </section>
                        </section>
                    </article>
                    <!-- End pedido -->                
                    {% endfor %}
                </section>
                

            </article>
        </article>


    </section>
</main>

{% endblock %}