{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/common.css' %}">
<link rel="stylesheet" href="{% static 'styles/orders.css' %}">


<main class="h-100 gradient-custom">
    <section class="container py-5">
        <article class="row d-flex justify-content-center my-4">
            <article class="card mb-4 bg-gray text-light col-md-8">
                <header class="card-header">
                    <h5 class="mb-0" id="productos_cantidad">Historial de ventas</h5>
                    
                </header>
                <section class="card-body">
                    <!-- Pedido -->
                    <article class="card bg-gray">
                        <header class="card-header bg-danger text-white">
                            <h4>Pedido #21 - Recibido</h4>
                        </header>
                        <section class="card-body">
                            <section class="row">
                                <aside class="col">
                                    <span class="badge bg-success">Hace 15 minutos - 5 de Marzo de 2024 - 8:14 AM</span> <br>
                                </aside>
                            </section>
                            
                            <section class="row">
                                <article class="col">
                                    <p>Vendido por: Nelson Diaz <br> (Cod. Empleado: 14)</p>
                                </article>
                                <aside class="col text-center">
                                    <p>
                                        <strong>Cod. cliente:</strong> 1234 <br>
                                        <strong>Valor pedido:</strong> $23.123
                                    </p>
                                </aside>
                            </section>
                        </section>
                    </article>
                    <!-- End pedido -->
                    <article class="card bg-gray">
                        <header class="card-header bg-warning">
                            <h4>Pedido #22 - En despacho</h4>
                        </header>
                        <section class="card-body">
                            <section class="row">
                                <aside class="col">
                                    <span class="badge bg-success">Hace 15 minutos - 5 de Marzo de 2024 - 8:14 AM</span> <br>
                                </aside>
                            </section>
                            
                            <section class="row">
                                <article class="col">
                                    <p>Vendido por: Nelson Diaz <br> (Cod. Empleado: 14)</p>
                                </article>
                                <aside class="col text-center">
                                    <p>
                                        <strong>Cod. cliente:</strong> 1234 <br>
                                        <strong>Valor pedido:</strong> $23.123
                                    </p>
                                </aside>
                            </section>
                        </section>
                    </article>

                    <article class="card bg-gray">
                        <header class="card-header bg-primary">
                            <h4>Pedido #22 - En reparto</h4>
                        </header>
                        <section class="card-body">
                            <section class="row">
                                <aside class="col">
                                    <span class="badge bg-success">Hace 15 minutos - 5 de Marzo de 2024 - 8:14 AM</span> <br>
                                </aside>
                            </section>
                            
                            <section class="row">
                                <article class="col">
                                    <p>Vendido por: Nelson Diaz <br> (Cod. Empleado: 14)</p>
                                </article>
                                <aside class="col text-center">
                                    <p>
                                        <strong>Cod. cliente:</strong> 1234 <br>
                                        <strong>Valor pedido:</strong> $23.123
                                    </p>
                                </aside>
                            </section>
                        </section>
                    </article>

                    <article class="card bg-gray">
                        <header class="card-header bg-info">
                            <h4>Pedido #22 - Entregado</h4>
                        </header>
                        <section class="card-body">
                            <section class="row">
                                <aside class="col">
                                    <span class="badge bg-success">Hace 15 minutos - 5 de Marzo de 2024 - 8:14 AM</span> <br>
                                </aside>
                            </section>
                            
                            <section class="row">
                                <article class="col">
                                    <p>Vendido por: Nelson Diaz <br> (Cod. Empleado: 14)</p>
                                </article>
                                <aside class="col text-center">
                                    <p>
                                        <strong>Cod. cliente:</strong> 1234 <br>
                                        <strong>Valor pedido:</strong> $23.123
                                    </p>
                                </aside>
                            </section>
                        </section>
                    </article>
                    <article class="card bg-gray">
                        <header class="card-header bg-success">
                            <h4>Pedido #22 - Pagado</h4>
                        </header>
                        <section class="card-body">
                            <section class="row">
                                <aside class="col">
                                    <span class="badge bg-success">Hace 15 minutos - 5 de Marzo de 2024 - 8:14 AM</span> <br>
                                </aside>
                            </section>
                            
                            <section class="row">
                                <article class="col">
                                    <p>Vendido por: Nelson Diaz <br> (Cod. Empleado: 14)</p>
                                </article>
                                <aside class="col text-center">
                                    <p>
                                        <strong>Cod. cliente:</strong> 1234 <br>
                                        <strong>Valor pedido:</strong> $23.123
                                    </p>
                                </aside>
                            </section>
                        </section>
                    </article>
                    
                    
                </section>
                

            </article>
        </article>


    </section>
</main>

{% endblock %}