{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/common.css' %}">
<link rel="stylesheet" href="{% static 'styles/orders.css' %}">

<main class="container mt-4">
    {% if success %}
    <section class="row">
        <div class="col-md-6">
            <article class="card mb-3">
                <section class="card-header">
                    <h5 class="card-title text-center">Información general</h5>
                </section>
                <section class="card-body">
                    <h5 class="card-title">Hora de venta: <span class="badge {{pedido.get_status_tiempo}}">{{pedido.fecha}}</span></h5>
                    <p class="card-text">Dirección de entrega: {{cliente.direccion}}</p>
                    <p class="card-text">Estado del pedido: {{pedido.estado}}</p>
                    <p>
                        {% if pedido.estado_id == 0 %}
                        Este pedido está a la espera de ser despachado.
                        {% elif pedido.estado_id == 1 %}
                        Este pedido está siendo despachado por:
                        {% elif pedido.estado_id == 2 %}
                        Este pedido salió a reparto
                        {% elif pedido.estado_id == 3 %}
                        Este pedido fue entregado a esta hora: por:
                        {% elif pedido.estado_id == 4 %}
                        Este pedido fue completado a esta hora: 
                        {% endif %}
                    </p>
                </section>
            </article>
            {% if user.tipo_usuario_id == 3 %}
            <article class="card mb-3">
                <section class="card-header">
                    <h5 class="card-title text-center">Despachador</h5>
                </section>
                <section class="card-body">
                    {% if pedido.estado_id == 0 %}
                    <p>Este pedido está a la espera de ser despachado.</p>
                    <button class="btn btn-primary">Despachar</button>
                    {% endif %}
                </section>
            </article>
            {% endif %}
        </div>
        <div class="col-md-6">
            <article class="card">
                <section class="card-body">
                    <h5 class="card-title">Productos en el pedido:</h5>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in productos %}
                            <tr>
                                <td>{{ p.producto.descripcion }}</td>
                                <td>{{ p.cantidad }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </article>
        </div>
    </section>
    {% else %}
    <div class="alert alert-danger" role="alert">no verificado</div>
    {% endif %}
</main>



{% endblock %}