{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/registro.css' %}">

<main class="d-flex justify-content-center align-items-center">
    <form action="" method="POST" class="card p-4">
        <h2 class="text-primary text-bold text-center">Registro de usuarios</h2>
        <p class="text-info">En este registro, usted puede registrar a otros usuarios para que tengan acceso a la plataforma.</p>
        <ul class="list-group">
            {% for field in form %}
              <li class="list-group-item">
                  <span class="badge bg-success mb-1">{{ field.label_tag }}</span>
                  {{ field }}
              </li>
            {% endfor %}
        </ul>
        {{ event }} <br>
      <button type="submit" class="btn btn-primary mt-3">Crear usuario</button>
    </form>
</main>

{% endblock %}